<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} - Garra Vermelha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Garra Vermelha</a>
            <ul>
                {% if session.logged_in %}
                <li><a href="{{ url_for('logout') }}">Sair</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Entrar</a></li>
                <li><a href="{{ url_for('criar_conta') }}">Criar conta</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>